
/*Navigation Part*/

.other-navbar-fixed{
	/*top: 0;*/
    border-width: 0 0 1px;
    font-size: 10px;
    padding: 0; 
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
/*Navigation Part Ends*/



/* Courses Container */
#main_container{
	padding: 10px 100px;
	padding-bottom: 0;
}

/*Course Details Section Starts*/
.course_title{
	font-size: 36px;
	font-weight: 700;
	color: #384158;
}

.course_info{
	width: 100%;
	height: 100px;
	margin-top: 68px;
	background:#f2f4f5;
	display: flex;
	padding-top: 10px;
	padding-left: 20px;
}

.course_info .course_info_item{
	padding-top: 10px;
	padding-left: 20px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.course_info_item{
	padding-left: 30px;
}

.course_info_title{
	font-size: 18px;
	font-weight: 700;
	color: #384158;
}

.course_info_text a{
	text-decoration: none;
	color:#384158;
}


.course_img{
	margin-top:21px;
	width: 100%;
}

.course_img img{
	width: 100%;
}

.course_tabs_container{
	width: 100%;
	margin-top: 30px;
	
}

.tabs{
	display: flex;
}

.tab{
	height: 40px;
	background: #f2f4f5;
	font-size: 16px;
	color: #384158;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 10px;
	padding-left: 21px;
	padding-right: 20px;
	transition: all 200ms ease;
	flex-direction: row;
}

.tab.active, 
.tab:hover{
	background: #14bdee;
	color:#fff;
}

.tab_panels{
	
}

.tab_panel{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    border: solid 1px #ebebeb;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
}


.tab_panel.active{
	display: block !important;
}

.tab_panel_title{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700;
	color: #384158;
}

.tab_panel_text{
	margin-top: 10px;
}

.tab_panel_text p{
	font-size: 16px;
	font-weight: 400;
	color: #76777a;
	line-height: 1.75;
}

.tab_panel_section{
	margin-top: 17px;
}

.tab_panel_subtitle{
	font-size: 18px;
	font-weight: 400;
	color: #384158;
}

.tab_panel_bullets{
	margin-top: 9px;
}

.tab_panel_bullets li{
	position: relative;
	padding-left: 27px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.75;
	color: #76777a;
}

.tab_panel_bullets li:not(:last-child){
	margin-bottom: 2px;
}

.tab_panel_bullets li::before{
	display: block;
	position: absolute;
	top: 9px;
	left: 1px;
	width: 7px;
	height: 7px;
	background: #76777a;
	content: '';
	border-radius: 50%;
}

.tab_panel_faq{
	margin-top: 51px;
}


.tab_panel_2{
    padding-bottom: 10px;
}

.dropdowns{
	margin-top: 17px;
}

.dropdowns li ul{
	max-height: 0;
	padding-left: 30px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.dropdowns li{
	position: relative;
}

.dropdowns li.has_children > .dropdown_item{
	cursor: pointer;
}

.dropdown_item{
	padding-top: 26px;
	padding-bottom: 25px;
}

.dropdowns li:not(:last-child) .dropdown_item{
	border-bottom: solid 1px #e5e5e5;
}

.dropdown_item_title{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 700;
	color: #384158;
	padding-left: 24px;
}

.dropdown_item_title span{
	font-size: 18px;
}

.dropdown_item_title::before{
	position: absolute;
	top: 1px;
	left: 0;
	font-family: 'FontAwesome';
	content: '\f0f6';
	font-size: 18px;
	color: #384158;
	opacity: 0.65;
}

.has_children > .dropdown_item > .dropdown_item_title::after{
	position: absolute;
	top: -10px;
	right: 0;
	font-family: 'FontAwesome';
	content: '\f105';
	font-size: 30px;
	font-weight: 400;
	color: #384158;
}

.has_children.active > .dropdown_item > .dropdown_item_title::after{
	content: '\f107';
}

.dropdown_item_text{
	margin-top: 10px;
}

.dropdown_item_text p{
	font-size: 16px;
	font-weight: 400;
	color: #76777a;
	line-height: 1.75;
}


.tab_panel_3{
	padding-bottom: 42px;
}

.review_rating_container{
	margin-top: 43px;
}

.review_rating{
	display: inline-block;
	text-align: center;
	padding-left: 35px;
	padding-top: 28px;
	vertical-align: top;
}

.review_rating_num{
	font-size: 72px;
	line-height: 0.75;
	font-weight: 900;
	color: #384158;
}

.review_rating_stars{
	margin-top: 27px;
	margin-left: 3px;
}

.review_rating_stars .rating_r i::before{
	color: #ffc80a;
	font-size: 18px;
}

.review_rating_text{
	font-size: 16px;
	color: #b5b8be;
	margin-top: 12px;
}

.review_rating_bars{
	display: inline-block;
	padding-left: 134px;
}

.review_rating_bars ul li:not(:last-child){
	margin-bottom: 10px;
}

.review_rating_bars ul li span{
	font-size: 16px;
	font-weight: 400;
	color: #384158;
	vertical-align: middle;
}

.review_rating_bar{
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	height: 30px;
	background: #efefef;
	margin-left: 22px;
}

.review_rating_bar > div{
	height: 100%;
	background: #14bdee;
}

.comments_container{
	margin-top: 80px;
}

.comment_item{
	border-bottom: solid 1px #e5e5e5;
	padding-top: 31px;
	padding-bottom: 16px;
}

.comment_image div{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}

.comment_image div img{
	max-width: 100%;
}

.comment_content{
	width: 100%;
	padding-left: 20px;
	margin-top: -7px;
}

.comment_author::after{
	display: inline-block;
	content: '-';
	margin-left: 6px;
}

.comment_author a{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 700;
	color: #384158;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.comment_author a:hover{
	color: #14bdee;
}

.comments_container .rating_r{
	margin-top: 3px;
	margin-left: 5px;
}

.comments_container .rating_r i::before{
	color: #ffc80a;
}

.comment_text{
	margin-top: 12px;
}

.comment_extras{
	margin-top: 13px;
}


.comment_reply{
	margin-left: 35px;
}

.comment_extra a{
	font-size: 14px;
	font-weight: 400;
	color: #76777a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.comment_extra a:hover{
	color: #14bdee;
}

.comment_extra a span{
	margin-left: 3px;
}

.comment_reply a i{
	color: #14bdee;
}

.comments_list li ul{
	padding-left: 99px;
}

.add_comment_container{
	margin-top: 24px;
}

.add_comment_title{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700;
	color: #384158;
}

.add_comment_text{
	margin-top: 14px;
}

.add_comment_text a{
	color: #14bdee;
	text-decoration: underline;
}
/*Course Details Section Ends*/


	/*Sidebar Categories Section Starts*/
	
	#side_contents{
		margin-top: 31px;
		padding-left: 40px;
	}

	.side_contents{
		width: 100%;
	}

	.sidebar_section:not(:last-child) {
	    margin-bottom: 60px;
	}

	.section_title{
		font-size: 24px;
	    font-weight: 700;
	    color: #384158;
	    line-height: 0.75;
	}

	.section_categories{
		margin-top: 16px;
	}

	ul{
	    list-style: none;
	    margin-bottom: 0px;
	    padding-left: 5px;
	}

	.sidebar_categories ul > li:not(:last-child):after {
	    border-bottom: solid 1px #e5e5e5;
	}

	.sidebar_categories ul li {
	    position: relative;
	    width: 100%;
	    height: 51px;
	}

	.sidebar_categories ul li:not(:last-of-type) {
	    border-bottom: solid 1px #e5e5e5;
	}

	.section_categories > ul > li{
		margin: 10px;
		padding: 5px;
		border-bottom: 1px solid black;
	}

	.section_categories > ul > li > a{
	  	color: #76777a!important;
	}


	.sidebar_section:not(:last-child){
		margin-bottom: 60px;
	}

	/*Sidebar Categories Section Ends*/

	/*Sidebar Latest Section Starts*/

	.sidebar_latest{
		margin-top: 31px;
		background-color: #f2f4f5;
		padding: 20px 5px;
		padding-bottom: 10px;
	}

	.latest_course{
		margin-top:15px;
		height: 90px; 
		position: relative;
	}

	.latest_image{
		display: block;
		position: relative;
	}

	.latest_image div{
		width: 90px;
		height: 74px;
		border-radius: 3px;
		overflow: hidden;
		display: block;
	}

	.latest_image div img{
		max-width: 100%;
	}

	img{
		vertical-align: middle;
		border-style: none;
	}

	.latest_content{
		padding-left: 21px;
		margin-top: -4px;
		margin-bottom: 5px;
	}

	.latest_title a{
		font-size: 16px;
		font-weight: 700;
		color: #383749;
		line-height: 1.625;
		transition: all 200ms ease;
	}

	.latest_price{
		font-size: 14px;
		font-weight: 700;
		color: #14bdee;
		line-height: 0.75;
		margin-top: 16px;
	}

	/*Sidebar Latest Section Ends*/

	/*Sidebar Upcoming Section Starts*/

	/*The rest of the css is similar to the latest part above so there is code reusablity*/
	.sidebar_upcoming{
		margin-top: 31px;
		padding: 0;
		padding-top: 5px;
		padding-bottom: 10px;
	}


	.upcoming_course{
		margin-top:15px;
		height: 90px; 
		position: relative;		
		border-bottom: solid 1px #e5e5e5;
	}

	/*Sidebar Upcoming Section Ends*/

	/*Sidebar Tags Section Starts*/

	ul{
		margin-top: 31px;
	}

	.tags_list li{
		display: inline-block;
		padding-left: 19px;
		padding-right: 18px;
		background: #f2f4f5;
		margin-bottom: 10px;
		border-radius: 3px;
	}

	/*Sidebar Tags Section Ends*/

/* Courses Container Ends */






/*Footer Section*/

#footer{
	margin-top: 100px;
}

/*Footer Section Ends*/
